
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

section {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Laptops only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    width: 31.33%;
  }
}

/********** Tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    width: 48%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    width: 98%;
  }
}

.menuitem {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  font-size: 140%;
  text-align: center; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 2%;
}

.menutext {
  position: relative;
  padding-left: 5%;
  padding-top: 15%;
  padding-bottom: 3%;
  background-color: grey;
  text-color: black;
  font-size: 125%;
  clear: right;
}
