
/********** Base styles **********/
* {
  box-sizing: border-box;
}

section {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Laptops only **********/
@media (min-width: 992px) {
  .desktop {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 31.33%;
  }
}

/********** Tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .tablet {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 48%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .mobile {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 98%;
  }
}

/**** Section title only ********/
.sectiontitle {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  font-size: 140%;
  text-align: center; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 2%;
}

/***** Section text only ********/
.sectiontext {
  position: relative;
  padding-left: 5%;
  padding-top: 40px;
  padding-bottom: 3%;
  background-color: grey;
  text-color: black;
  font-size: 125%;
  clear: right;
}


/**** alignment for heading h1 *****/
h1 {
  margin-bottom: 15px;
  text-align: center;
}


/**** Specify title section colors ******/
#item1 {
  background-color: pink;
  color: black;
}

#item2 {
  background-color: red;
  color: white;
}

#item3 {
  background-color: yellow;
  color: black;
}

/**** For the tabled view, the third column must fill the entire row *****/
@media (min-width: 768px) and (max-width: 991px) {
  #div3 {
    width: 98%;
  }
}
